<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title th:text="${stencilToUpdate.getId()}">Title</title>
</head>
    <body>
        <form th:method="PATCH" th:action="@{/stencils/{id}(id=${stencilToUpdate.getId()})}" th:object="${stencilToUpdate}">
            <p th:text="${stencilToUpdate.getId()}">id</p>
            <label for="thickness">Thickness: </label>
            <input type="number" step="0.01" th:field="*{thickness}" id="thickness" />
            <br/>
            <label for="area">Area: </label>
            <input type="number" step="0.01" th:field="*{area}" id="area" />
            <br/>
            <label>PCB side:</label>
            <span th:each="side : ${T(by.kach.PCBApp.models.PCBSide).values()}">
                <input type="radio" th:field="*{pcbSide}" th:value="${side}">
                <label th:for="${#ids.prev('pcbSide')}" th:text="${side}">side</label>
            </span>
            <br/>
            <input type="submit" value="Update"/>
        </form>
    </body>
</html>